*,
*::before,
*::after {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 1280px;
	margin: auto;
	background-color: #1b2944;
}
.header {
	width: 100%;
	padding: 40px 168px 0 168px;
}

.header__link-items {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header__link-items-mainSocial {
	width: 100px;
	height: 28px;
}

.header__link-items-otherSocial {
	display: flex;
	align-items: start;
	height: 20px;
	gap: 16px;
}

.hero-section {
	display: flex;
	justify-content: center;
}

.content-wrapper {
	max-width: 944px;
	padding-bottom: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-section__discription {
	padding-right: 90px;
	padding-top: 115px;
}

.hero-section__title {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #ffbb01;
	margin-bottom: 16px;
}

.title {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 36px;
	color: #fff;
	padding: 88px 0px 48px 0;
}

.hero-section__name {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 50px;
	line-height: 59px;
	color: #fff;
	margin-bottom: 26px;
}

.hero-section__text {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	margin-bottom: 40px;
	min-height: 85px;
	max-width: 464px;
}

.button {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	border-radius: 6px;
	border: none;
	cursor: pointer;
}

.hero-section__button {
	width: 300px;
	height: 66px;
	padding: 16px 32px;
	box-shadow: 0 3px 0 0 rgba(255 187 1/ 0.5);
	background-color: #ffbb01;
	color: #000;
	text-transform: uppercase;
}
.hero-section__button:hover {
	background-color: #c59609;
}

.hero-section__photo-img {
	width: 384px;
	height: 384px;
}

.hero-section__photo {
	margin-top: 114px;
}

.option {
	background-color: #141f35;
	display: flex;
	justify-content: center;
}

.option-wrapper {
	max-width: 944px;
	padding-bottom: 85px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.option__features {
	list-style: none;
}

.option__title {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #fff;
	padding: 88px 0 48px 0px;
}

.option__features-items-img {
	padding-bottom: 14px;
}

.option__features-items-title {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
	padding-bottom: 16px;
}

.option__features-items-text {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
}

.option__features-items {
	max-width: 304px;
	min-height: 206px;
}

.option__features-row {
	display: flex;
	gap: 15px;
}
.option__features-row:not(:last-child) {
	padding-bottom: 65px;
}

.project {
	display: flex;
	justify-content: center;
}

.project-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 944px;
	padding-bottom: 85px;
}

.project__list {
	list-style: none;
	display: flex;
	gap: 16px;
}

.project__card {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.cover::before {
	content: '';
	position: absolute;
	z-index: 1;
	inset: 0;
	background-image: linear-gradient(transparent, transparent, #1b2944);
	opacity: 0.9;
}

.cover:hover::before {
	content: '';
	background-image: linear-gradient(transparent, transparent);
}

.project__list-img-bar {
	position: relative;
	background-image: url(/img/card1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 304px;
	height: 304px;
}

.project__list-img-golf {
	position: relative;
	background-image: url(/img/card2.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 304px;
	height: 304px;
}

.project__list-img-fullday {
	position: relative;
	background-image: url(/img/card3.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 304px;
	height: 304px;
}

.project__list-title {
	position: relative;
	z-index: 1;
	color: #fff;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	padding: 0px 100px 16px 32px;
}

.project-list-button {
	position: relative;
	z-index: 1;
	width: 120px;
	height: 36px;
	background-color: #ec1f46;
	z-index: 1;
	padding: 10px 16px;
	font-size: 12px;
	text-transform: none;
	color: #fff;
	margin: 0px 0px 32px 32px;
}

.project-list-button:hover {
	background-color: #d13451;
}

.plates-wrapper {
	display: flex;
	justify-content: center;
	background-color: #141f35;
}

.plates {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 16px;
	background-color: #141f35;
	padding: 88px 0px;
}

.contacts {
	display: flex;
	justify-content: center;
}

.contacts-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.input-block {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: -5px 5px 0px 0px #ffbb01;
	max-width: 464px;
	min-height: 422px;
	margin-bottom: 88px;
	margin-right: 96px;
}

.contacts__button {
	width: 400px;
	height: 66px;
	padding: 16px 43px;
	box-shadow: 0 4px 0 0 rgba(117, 86, 1, 0.6);
	background-color: #ffbb01;
	color: #000;
	text-transform: uppercase;
}

.contacts__button:hover {
	background-color: #c59609;
}

.label-contacts {
	display: flex;
	flex-direction: column;
	padding: 0 32px 0 32px;
	gap: 24px;
}

.label-contacts__title {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	padding: 40px 32px 32px 32px;
	text-align: center;
}

.label-contacts__input {
	max-width: 400px;
	min-height: 70px;
	border: none;
	border-radius: 5px;
	background-color: #c7c7c740;
	opacity: 1;
	padding: 20px 35px 19px 62px;
}

.contacts__block-items-title {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
}

.contacts__block-items-link {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	text-decoration: none;
}
.footer__main-blocks {
	display: flex;
}

.contact__link-message {
	display: flex;
	gap: 119px;
	margin-bottom: 42px;
}

.contact__link-message-title {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
	padding-bottom: 12px;
}

.contact__link-message-text {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	text-decoration: none;
}

.contact__link-social-title {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
	padding-bottom: 10px;
}

.contact__link-social-text {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	text-decoration: none;
}
.contact__link-social-text:not(:last-child) {
	margin-right: 54px;
}

.contact__link-social-links {
	margin-bottom: 40px;
}

.contact__link-social-icons {
	display: flex;
	gap: 16px;
	margin-bottom: 166px;
}

.footer__confidence-link {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #949494;
}
.footer__confidence-link:link .footer__confidence-link:visited {
	color: #949494;
}
.footer__confidence-link:hover {
	color: #949494;
	text-decoration: none;
}

.label-contacts__input:focus {
	outline-color: #ffbb01;
}

.label-contacts__input-name {
	background-image: url(/img/user-icon.svg);
	background-repeat: no-repeat;
	background-position: center left 32px;
}

.label-contacts__input-phone {
	background-image: url(/img/phone-icon.png);
	background-repeat: no-repeat;
	background-position: center left 32px;
}
